html{
	background-image:url("../images/StreetMarket.jpg");
	background-size:cover;
}
body{
	background-repeat:no-repeat;
}
form>p{
	left:700px;
	position:relative;
	font-size:3em;
	font-family: 'Playfair Display', serif;
	margin:0;
	color:salmon;
	font-weight:bold;
}
form{
	position:relative;
	margin-top:5em;
	margin-left:19em;
}
.submit,.item{
	border:.2em solid black;
	height:3em;
	left:38em;
	position:relative;
}
.submit{
	width:10em;
}
.item{
	width:60em;
}
.fill,.filr {
	color:gray;
	border:.3em solid #FF3300;
	width:40em;
	height:3em;
	float:left;
	position:absolute;
	font-family: 'Playfair Display', serif;
	text-align:center;
	top:14em;
}
.fill{
	left:7em;
}
.filr {
	right:7em;
}
h1 {
	font-size:1.5em;
	color:white;
}
.boxl,.boxr{
	border:.3rem solid black;
	width:40rem;
	height:30rem;
	position:relative;
	top:7em;
}
li{
	font-size:1.2em;
}
.boxl{
	float:left;
	left:6.4em;
}
.boxr{
	float:right;
	right:6.4em;
}
.left,.right{
	color:white;
}
